.voice-input-container {
    position: relative;
    width: 100%;
  }
  
  .voice-input-container input {
    width: 100%;
    border-radius: 0px;
    padding: 10px;
    padding-right: 40px; /* Add space for the button inside the input */
  }
  
  .voice-input-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  
  .voice-input-button.listening {
    color: #ff0000;
  }
  
  .voice-input-button:focus {
    outline: none;
  }
  